body {
    background-color: #faefe6;
    font-family: Arial, sans-serif;
}

.search-box {
    background-color: #fff3eb;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 50px auto;
    border-radius: 5px;
    text-align: center;
}

.search-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.search-box input[type="text"] {
    width: 90%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-box input[type="submit"] {
    background-color: #ddd;
    border: 1px solid #aaa;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 3px;
}

.search-box input[type="submit"]:hover {
    background-color: #ccc;
}
.movies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.movie-card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.movie-card img {
    width: 100%;
    height: auto;
}

.movie-info {
    padding: 10px;
}

.movie-info h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
}

.movie-info p {
    margin: 2px 0;
    font-size: 14px;
    color: #555;
}
.pagination{
    text-align: center;
    justify-content: center;
}